<div class="message-page">
    <div class="photo-slider">
        <iframe style="border-radius:12px;margin-top:100px" 
            src="https://open.spotify.com/embed/track/2x3vwXWuecPrRqgEUuSUJA?utm_source=generator" 
            width="30%" height="152" frameBorder="0" allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
        </iframe>
        <div class="polaroid">
            <img
                [src]="photos[currentPhoto()]"
                class="slide-photo"
            />
            <div class="polaroid-caption">
                💖
            </div>
        </div>
    </div>

    <div class="chat-area" #chatArea>
        @for (msg of visibleMessages(); track $index) {
            <div class="bubble left">
                {{ msg }}
            </div>
        }
        @if (typingText()) {
            <div class="bubble left typing">
                {{ typingText() }}<span class="cursor">|</span>
            </div>
        }
        @if (showNext()) {
            <div class="chat-next right">
                <button class="next-btn" (click)="next()">
                    Next
                </button>
            </div>
        }
    </div>
</div>
